/* This is for the slide show */
.slide-image {
    width: 768px;
    height: 452px;
    object-fit: fill;
    /*To keeps ratio*/
}

/* Slideshow container */
.slideshow-container {
    width: 768px;
    position: relative;
}

/* Hide the images by default */
.slide-container {
    display: none;
}

/* Show the images when the class is added */
.slide-container.active {
    display: block;
}

/* Next & previous buttons */
.slide-prev, .slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

.slide-prev{
    left: -50px;
}

/* Position the "next button" to the right */
.slide-next {
    right: -50px;
}

.slide-prev:hover, .slide-next:hover {
    background-color: rgba(47, 147, 180, 0.6);
}

/* Caption text */
.slide-caption {
    color: #000000;
    background-color: rgb(173, 216, 230, 0.6);
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 40px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/4 etc) */
.number-text {
    background-color: rgb(173, 216, 230, 0.6);
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    width: fit-content;
    top: 0;
}

/* The dots */
.dot-container{
    width: 768px;
    text-align: center;
}

.slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 7.5px;
    display: inline-block;
    transition: all 0.6s ease;
}
/* change color if on respective slide or hover */
.slide-dot:hover, .slide-dot.active {
    background-color: #717171;
}

.slide-dot.active {
    width: 35px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* make the picture come in from fader to thoroughly */
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 1000px) {
    /* Hide the dots and buttons on small screens */
    .dot-container, .slide-prev, .slide-next{
        display: none;
    }

    /* Show all the images*/
    .slide-container {
        display: block;
    }
    
    .slide-caption{
        position: relative;
        bottom: 0;
    }

    .number-text{
        position: relative;
        top: 30px;
    }

    .slideshow-container {
        width: 768px;
        max-width: 100%;
    }

    .slide-image {
        width: 768px;
        max-width: 100%;
        height: auto;
    }
}